.container{
    border :1px solid blue;
    width :500px;
    height :500px;
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    background-image: url('IM.jpg') ;
    background-size: cover;
}

.item{
    border :2px solid green;
    width :100px;
    height :100px;
    margin-top: 30px;
    background-color: brown;

}

.item:hover{
    background-color: aquamarine;
} 

.name{
    padding-left: 30px;
    padding-top: 30px;
}

.contact{
    padding-left: 30px;
    padding-top: 30px;
}

.email{
    padding-left: 30px;
    padding-top: 30px;
}